<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
		href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
	
	<link rel="stylesheet"
		href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script
		src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	
	<style>
	#map {
		height: 600px;
		width: 600px;
	}
	</style>
	<meta charset="UTF-8">
	<title>Vessel</title>
</head>
<body>
	
<div id="vessel">
	<h1 style="color: #5e9ca0;">Information about ship:<span th:text="${vessel.vessel.name} + ' [' + ${vessel.vessel.mmsi} +']'"/> </h1>
	<h2 style="color: #2e6c80;">
		<img th:src ="@{${vessel.imgSrc}}" alt="VesselURL" />
	</h2>
	<h2 style="color: #2e6c80;">Basic Information:</h2>
	<table class="editorDemoTable" style="height: 449px; width: 490px; " border="1">
		<thead>
			<tr style="height: 18px;">
				<td style="height: 18px; width: 204.663px;">Key</td>
				<td style="height: 18px; width: 270.538px;">Value</td>
			</tr>
		</thead>
		<tbody>
			<tr style="height: 21px;">
				<td style="height: 21px; width: 204.663px;">MMSI</td>
				<td style="height: 21px; width: 270.538px;"><span th:text="${vessel.vessel.mmsi}"/></td>
			</tr>
			<tr style="height: 22px;">
				<td style="height: 22px; width: 204.663px;">Name</td>
				<td style="height: 22px; width: 270.538px;"><span th:text="${vessel.vessel.name}"/></td>
			</tr>
			<tr style="height: 22px;">
				<td style="height: 22px; width: 204.663px;">Country</td>
				<td style="height: 22px; width: 270.538px;"><span th:text="${vessel.vessel.country}"/></td>
			</tr>
			<tr style="height: 21px;">
				<td style="height: 21px; width: 204.663px;">ShipType</td>
				<td style="height: 21px; width: 270.538px;"><span th:text="${vessel.vessel.shipType}"/></td>
			</tr>
			<tr style="height: 36px;">
				<td style="height: 36px; width: 204.663px;">SOG (speed)</td>
				<td style="height: 36px; width: 270.538px;"><span th:text="${vessel.vessel.sog}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="height: 18px; width: 204.663px;">navstat (Navigational Status)</td>
				<td style="height: 18px; width: 270.538px;"><span th:text="${vessel.vessel.navstat}"/></td>
			</tr>
			<tr style="height: 22px;">
				<td style="height: 22px; width: 204.663px;">COG (Course Over Ground)</td>
				<td style="height: 22px; width: 270.538px;"><span th:text="${vessel.vessel.cog}"/></td>
			</tr>
			<tr style="height: 22px;">
				<td style="height: 22px; width: 204.663px;">IMO (IMO ship identification number)</td>
				<td style="height: 22px; width: 270.538px;"><span th:text="${vessel.vessel.imo}"/></td>
			</tr>
			<tr style="height: 19px;">
				<td style="height: 19px; width: 204.663px;">isSurvey</td>
				<td style="height: 19px; width: 270.538px;"><span th:text="${vessel.vessel.isSurvey}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="height: 18px; width: 204.663px;">draught</td>
				<td style="height: 18px; width: 270.538px;"><span th:text="${vessel.vessel.draught}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="height: 18px; width: 204.663px;">A - Dimension to Bow (meters)</td>
				<td style="height: 18px; width: 270.538px;"><span th:text="${vessel.vessel.a}"/></td>
			</tr>
			<tr style="height: 36px;">
				<td style="height: 36px; width: 204.663px;">B - Dimension to Stern (meters)</td>
				<td style="height: 36px; width: 270.538px;"><span th:text="${vessel.vessel.b}"/></td>
			</tr>
			<tr style="height: 22px;">
				<td style="height: 22px; width: 204.663px;">C - Dimension to Port (meters)</td>
				<td style="height: 22px; width: 270.538px;"><span th:text="${vessel.vessel.c}"/></td>
			</tr>
			<tr style="height: 26px;">
				<td style="height: 26px; width: 204.663px;">D - Dimension to Starboard (meters)</td>
				<td style="height: 26px; width: 270.538px;"><span th:text="${vessel.vessel.d}"/></td>
			</tr>
			<tr style="height: 36px;">
				<td style="height: 36px; width: 204.663px;">shipRegister</td>
				<td style="height: 36px; width: 270.538px;"><span th:text="${vessel.vessel.shipRegister}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="width: 204.663px; height: 18px;">aisName</td>
				<td style="width: 270.538px; height: 18px;"><span th:text="${vessel.vessel.aisName}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="width: 204.663px; height: 18px;">shipRegisterName</td>
				<td style="width: 270.538px; height: 18px;"><span th:text="${vessel.vessel.shipRegisterName}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="width: 204.663px; height: 18px;">AIS</td>
				<td style="width: 270.538px; height: 18px;"><span th:text="${vessel.vessel.ais}"/></td>
			</tr>
			<tr style="height: 18px;">
				<td style="width: 204.663px; height: 18px;">isWellBoat</td>
				<td style="width: 270.538px; height: 18px;"><span th:text="${vessel.vessel.isWellBoat}"/></td>
			</tr>
		</tbody>
	</table>
	<p>&nbsp;</p>
	<p>
		<strong>&nbsp;</strong>
	</p>
<br/>
</div>
<div>
<h2 style="color: #2e6c80;">Track history:</h2>
<table style="border-collapse: collapse; width: 50%; height: 18px;" border="1">

	<div th:if="${vesselHistory.empty}">
		<tr th:if="${vesselHistory.empty}">
		   <td> No History Available </td>
		</tr>  
	</div>
<div th:unless="${vesselHistory.empty}">
	<tbody>
		<tr style="height: 18px;">
			<td style="width: 20%; height: 18px;">ID</td>
			<td style="width: 20%; height: 18px;">MMSI</td>
			<td style="width: 20%; height: 18px;">Latitude/Longitude</td>
			<td style="width: 20%; height: 18px;">Destination</td>
			<td style="width: 20%; height: 18px;">Timestamp</td>
		</tr>
		<tr th:each="hist: ${vesselHistory}">
			<td style="width: 20%; height: 18px;"><span th:text="${hist.id}"></span></td>
			<td style="width: 20%; height: 18px;"><span th:text="${hist.MMSI}"></span></td>
			<td style="width: 20%; height: 18px;"><span th:text="${hist.lat} + '/' + ${hist.lat}"></span></td>
			<td style="width: 20%; height: 18px;"><span th:text="${hist.destination}"></span></td>
			<td style="width: 20%; height: 18px;"><span th:text="${hist.timestamp}"></span></td>
		</tr>
	</tbody>
</div>  
</div>
<div id="map">
<h2 style="color: #2e6c80;">Last found position:</h2>
</div>
<script th:inline="javascript">
	var hist = [[${vesselHistory}]];
	var map = L.map('map').setView([51.505, -0.09], 13);
	
	var leafletIcon = L.icon ({
		iconUrl: '/ship.png',
		iconSize: [20, 20],
		iconAnchor: [10,5],
	})
	
	var leafletPort = L.icon ({
		iconUrl: '/port.png',
		iconSize: [15, 15],
		iconAnchor: [5,5],
	})
	
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

   	 map.setView([hist[0].lat, hist[0].lng], 8);

    
   	 hist.forEach(value => {
        var marker = L.marker([value.lat, value.lng], {icon:leafletIcon}).addTo(map)
            .bindPopup('<b>ID: </b> ' + value.id+ '<br/>' +
            '<b>TimeStamp:</b> '+ value.timestamp + '<br/>' + 
            '<b>Destination:</b>' + value.destination)
            .on('click', () => {
            	marker.openPopup();
            });
    })
</script>
</table>
</body>
</html>